.FooterContainer
	display flex
	
	flex 0 0 auto
	
	border-top 2px solid #efefef
	
	p
		font-weight 300
		
		text-align center
		
		&:last-of-type
			margin-bottom 0

.Footer
	position relative
	
	display flex
	
	padding 16px
	
